* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} /* CSS Reset */


header {
    overflow: hidden;
    background: rgba(0,0,0,0.8);
    backdrop-filter: saturate(180%) blur(20px);
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: -1em ;
}

button {
    display: inline-block;
    border-radius: 5px;
    border: none;
    background: none;
    /* color: #eeeeee; */
    text-align: center;
    font-size: 15px;
    padding: 15px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1em 0em 0em;
}
a {
    color: #eeeeee;
}
button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
button:hover {
    /* background-color: #364d63; */
}
button:hover span {
    padding-right: 25px;
}  
button:hover span:after {
    opacity: 1;
    right: 0;
}


.title-container {
    background-image: url(Images/Background-Main.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    padding: 20px 0;
    justify-content: center;
    height: 100vh;
    display: flex;
  }

.title {
    padding-top: 10vh;
    animation: revealText 1s forwards;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    color: #ffffff;
    text-shadow : 3px 2px 0px #a3a3a3;
    opacity: 0;
}

.content-first {
    font-size: 10vh;
    animation-delay: .175s;
}
.content-second {
    font-size: 5.5vh;
    animation-delay: 1.25s;
}

@keyframes revealText {
    from{
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: none;
    }
}