
html {
    /* position: relative; */
    /* margin: 0; */
}
body {
    /* margin-bottom: 60px; */
    background-image: url(Images/Background-Main.jpg);
    /* margin: -1em; */
    background-color: #cccccc;
    height: 100vh;
    max-height: 4069px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

main {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}



header {
    overflow: hidden;
    background: rgba(0,0,0,0.8);
    backdrop-filter: saturate(180%) blur(20px);
    position: fixed;
    top: 0;
    width: 101%; /* Full width */
    height: auto;
    text-align: center;
    margin: -1em ;
}

button {
    display: inline-block;
    border-radius: 5px;
    border: none;
    background: none;
    /* color: #eeeeee; */
    text-align: center;
    font-size: 15px;
    padding: 15px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1em 0em 0em;
}
a {
    color: #eeeeee;
}
button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
button:hover {
    /* background-color: #364d63; */
}
button:hover span {
    padding-right: 25px;
}  
button:hover span:after {
    opacity: 1;
    right: 0;
}

.title {
    animation: revealText 1s forwards;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    color: #ffffff;
    text-shadow : 3px 2px 0px #a3a3a3;
    opacity: 0;
}

.content-first {
    animation-delay: .175s;
}
.content-second {
    animation-delay: 1.25s;
}

@keyframes revealText {
    from{
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: none;
    }
}